.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.counter {
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    /* Add padding to create space between the header and grid */
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    max-width: 200px;
    text-align: center;
}